#### <center> <h2>Estructura Iterativa - for</h2> </center>

![linea 1](https://user-images.githubusercontent.com/19308295/115926252-2b8a0c00-a448-11eb-9d9c-b43beaf0ff68.png)

## <font color=#33A5FF>****1. Estructura Iterativa - Bucle "for"****<tfont>

El Bucle for se utiliza para recorrer los elementos de un **objeto iterable** (lista, tupla, string, diccionario, …) y **ejecutar un bloque de código**. En cada paso de la iteración se tiene en cuenta a un único elemento del objeto iterable, sobre el cuál se pueden aplicar una serie de operaciones.

In [1]:
for <var> in <iterable>:
    <código>
    <código>
    ....................

SyntaxError: invalid syntax (978705421.py, line 1)

var es la variable que toma el **valor del elemento** dentro del **iterador** en cada paso del bucle. Este finaliza su ejecución cuando se recorren todos los elementos.

Un **iterable** es un objeto que permite recorrer sus elementos uno a uno. En Python, los tipos principales list , tuple , dict , set o string entre otros, son iterables, por lo que podrán ser usados en el bucle for.

## USAMOS ***FOR***

In [2]:
# 'for' iterando una lista

num = [10, 30, 50, 70, 90, 110]

for n in num:
    print(n)

10
30
50
70
90
110

In [3]:
# 'for' iterando una lista

num = [20, 40, 60, 80, 100, 120]

for n in num:
    print(n)

20
40
60
80
100
120

In [4]:
# 'for' iterando un string

nom = 'ISMAEL'

for letra in nom:   
    print (letra)

I
S
M
A
E
L

In [5]:
# 'for' hallando la longitud de los elementos de una lista

for nombre in ['Juan','Cristian','Ivanovich','Ismael','Marco']:
    print ('Hola {0}, la longitud de tu nombre es de: {1} caracteres.'.format(nombre,len(nombre)))

Hola Juan, la longitud de tu nombre es de: 4 caracteres.
Hola Cristian, la longitud de tu nombre es de: 8 caracteres.
Hola Ivanovich, la longitud de tu nombre es de: 9 caracteres.
Hola Ismael, la longitud de tu nombre es de: 6 caracteres.
Hola Marco, la longitud de tu nombre es de: 5 caracteres.

In [6]:
# 'for' hallando la longitud de los elementos de una lista

for nombre in ['Gravity falls','Mi vicio','Juan el pescador',
               'Dueles','El precio del mañana','eFex x']:
    print ('Hola {0}, la longitud del nombre de las series es de: {1} caracteres.'.format(nombre,len(nombre)))

Hola Gravity falls, la longitud del nombre de las series es de: 13 caracteres.
Hola Mi vicio, la longitud del nombre de las series es de: 8 caracteres.
Hola Juan el pescador, la longitud del nombre de las series es de: 16 caracteres.
Hola Dueles, la longitud del nombre de las series es de: 6 caracteres.
Hola El precio del mañana, la longitud del nombre de las series es de: 20 caracteres.
Hola eFex x, la longitud del nombre de las series es de: 6 caracteres.

## Hacer un programa que itere a lo largo de una lista que contenga colores y añada (appends) todos los colores que contengan la letra r a una nueva lista.

In [7]:
color = ['amarillo','rojo','verde','azul','púrpura','blanco','negro','limón']
color_con_r = []

for m in color:
    if "r" in m:
        color_con_r.append(m)
        
print(color_con_r)

['amarillo', 'rojo', 'verde', 'púrpura', 'negro']

In [8]:
color = ['amarillo','rojo','verde','azul','púrpura','blanco','negro','limón']
color_con_r = []

for m in color:
    if "a" in m:
        color_con_r.append(m)
        
print(color_con_r)

['amarillo', 'azul', 'púrpura', 'blanco']

In [9]:
color = ['amarillo','rojo','verde','azul','púrpura','blanco','negro','limón']
color_con_r = []

for m in color:
    if "z" in m:
        color_con_r.append(m)
        
print(color_con_r)

['azul']

In [10]:
color = ['amarillo','rojo','verde','azul','púrpura','blanco','negro','limón']
color_con_r = []

for m in color:
    if "x" in m:
        color_con_r.append(m)
        
print(color_con_r)

[]

## <font color=#33A5FF>****2. Función "range"****<tfont>

### Función range()

La funcion range nos permite crear una secuencia de numeros, tiene por argumentos 3 parametros (inicio, fin, pasos)

  range se puede utilizar con ***uno***, ***dos*** e incluso ***tres*** parámetros:

-range(max) : Un iterable de números enteros consecutivos que empieza en 0 y acaba en max - 1

-range(min, max) : Un iterable de números enteros consecutivos que empieza en min y acaba en max - 1

-range(min, max, step) : Un iterable de números enteros consecutivos que empieza en min acaba en max - 1 y los valores se van incrementando de step en step.

In [11]:
# for' utilizando la función 'range' con 1 parametro

for i in range (12):
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11

## Hacer un programa que imprima del numero 1 al 10

In [12]:
# Podemos usar un argumento
# añadiremos el parametro end="" para que por defecto no genere una nueva linea

for i in range(10):
    print (i+1, "", end = "")

1 2 3 4 5 6 7 8 9 10

In [13]:
for i in range(1,11):
    print (i, "", end = "")

1 2 3 4 5 6 7 8 9 10

## Hacer un programa que imprima del numero 1 al 25

In [14]:
# Podemos usar un argumento
# añadiremos el parametro end="" para que por defecto no genere una nueva linea

for i in range(25):
    print (i+1, "", end = "")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [15]:
# Podemos usar un argumento
# añadiremos el parametro end="" para que por defecto no genere una nueva linea

for i in range(1,26):
    print (i, "", end = "")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

## Ejemplos de función range

In [16]:
# Podemos usar 3 para definir un inicio, un final y una longitud de paso (en este caso 2)

for i in range(2,12,2):
    print (i, "", end = "")

2 4 6 8 10

In [17]:
for i in range(5,50,5):
    print (i, "", end = "")

5 10 15 20 25 30 35 40 45

In [18]:
# inicio=20 , un final=0 y una longitud de paso -2

for i in range(20,0,-2):
    print (i, "", end = "")

20 18 16 14 12 10 8 6 4 2

In [19]:
for i in range(50,0,-5):
    print (i, "", end = "")

50 45 40 35 30 25 20 15 10 5

In [20]:
# inicio= 40, un final= 5 y una longitud de paso -5

for i in range (40,-5,2):
    print (i, "", end = "")

El print no se ejecutó porque el valor de la orden de secuencia es positivo y el valor final respecto al valor inicial es descendente.

In [21]:
for i in range (40,-5,-5):
    print (i, "", end = "")

40 35 30 25 20 15 10 5 0

El print sí se ejecutó porque el valor de la orden de secuencia es negativo y el valor final respecto al valor inicial es descendente.

In [22]:
# inicio=50, un final= -1 y una longitud de paso 5

for i in range (50,-1,5):
    print (i, "", end = "")

NO SE EJECUTO EL PRINT

## <font color=#33A5FF>****3. Función "break" y "continue"****<tfont>

### Modificando la iteración del bucle for: break y continue

**- break** se utiliza para finalizar y salir el bucle, por ejemplo, si se cumple alguna condición.

**- continue** salta al siguiente paso de la iteración, ignorando todas las sentencias que le siguen y que forman parte del bucle.

### Uso de break

#### Hacer un programa que de una lista de numeros imprima la posición del numero 9 :

In [23]:
#lista de numero

lista = [2,4,5,7,8,9,3,4]
#utilizamos un contador iniciamos en 0 o en 1??
cont = -1

for m in lista:
    cont = cont + 1
    if m == 9 :
        break
        
print (cont)

5

*que pasa no se encuentra el numero 9 ???*

In [24]:
#lista de numero

lista = [2,4,5,7,8,9,3,4]
#utilizamos un contador iniciamos en 0 o en 1??
cont = -2

for m in lista:
    cont = cont + 1
    if m == 5 :
        break
        
print (cont)

1

### Asignación abreviada (contador abreviado):

In [26]:
#contador = contador + 1

contador = 1
contador += 1

print(contador)

2

In [28]:
#contador = contador *5
contador = 1
contador *= 5

print(contador)

5

In [29]:
#contador = contador /2
contador = 1
contador /= 2

print(contador)

0.5

In [30]:
#contador = contador //3
contador = 1
contador //= 3

print(contador)

0

 ¿Qué pasa cuando no se encuentra el número 9 ?

In [31]:
#lista de numeros sin el numero '9'

lista = [2, 4, 5, 7, 8, 19, 3, 4]

#Utilizamos un contador reducido

cont = -1

for m in lista:
    cont += 1
    if m == 9:
        break
        
else:
## Usamos 'for' conjuntamente con'else'

    cont = -1
    print ('No se encontro el número 9')
    
## Usamos 'for' conjuntamente con 'else'

if cont >= 0:
    print(cont)

No se encontro el número 9

## Uso de continue :

## Hacer un programa que de una lista de numeros imprima solo los numeros pares:

In [32]:
#Lista de numeros
num = [12, 14, 15, 27, 108, 90, 33, 49, 200]

for p in num:
    if p % 2 != 0:
        continue
    print (p)

12
14
108
90
200

## Hacer un programa que de una lista de numeros imprima solo los numeros impares:

In [33]:
#Lista de numeros
num = [12, 14, 15, 27, 108, 90, 33, 49, 200]

for p in num:
    if p % 3 != 0:
        continue
    print (p)

12
15
27
108
90
33

## Hacer un programa que de una lista de numeros imprima números que sean divisibles entre 5:

In [34]:
#Lista de numeros
num = [12, 14, 15, 27, 108, 90, 33, 49, 200]

for p in num:
    if p % 5 != 0:
        continue
    print (p)

15
90
200

   <hr color="blue" size=20>

# <center> <font color=#33A5FF>****EJEMPLOS****<tfont> </center>

   <hr color="blue" size=20>

## Estructura iterativa for

### Hacer un programa mostrar por pantalla los números pares del 0 al 10 :

In [35]:
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

### Hacer un programa que permita ingresar nombres a una lista, utilizando funciones

In [36]:
#Inicializamos la lista vacia
nombres = []

#función ingreso nombre
def ingreso(ele):
    for i in range(0,ele):
        m = input("Ingresar Nombre de la posición {0} : ".format(i))
        nombres.append(m)
        
#Preguntamos de cuantos elementos conforman la lista
l = int(input("De cuantos elementos crearemos la lista de nombres : "))
ingreso(l)
print("\n la lista completa de Nombres es :\n",nombres)

De cuantos elementos crearemos la lista de nombres : 3
Ingresar Nombre de la posición 0 : Ismael
Ingresar Nombre de la posición 1 : Cristian
Ingresar Nombre de la posición 2 : Ivanovich

 la lista completa de Nombres es :
 ['Ismael', 'Cristian', 'Ivanovich']

In [37]:
#Inicializamos la lista vacia
nombres = []

#función ingreso nombre
def ingreso(ele):
    for i in range(0,ele):
        m = input("Ingresar Nombre de la posición {0} : ".format(i))
        nombres.append(m)
        
#Preguntamos de cuantos elementos conforman la lista
l = int(input("De cuantos elementos crearemos la lista de nombres de las series : "))
ingreso(l)
print("\n la lista completa de Nombres de las series es :\n",nombres)

De cuantos elementos crearemos la lista de nombres de las series : 2
Ingresar Nombre de la posición 0 : Gravity Falls
Ingresar Nombre de la posición 1 : La casa de Papel

 la lista completa de Nombres de las series es :
 ['Gravity Falls', 'La casa de Papel']

## Método 2:

### Hacer un programa que de una lista de numeros imprima la posición del numero 9 , utilizando función enumerate

In [38]:
#lista de numeros

lista = [2, 4, 5, 7, 8, 19, 3, 4]

#utilizo la funcion `enumerate` que devuelve una tupla﴾es igual a lista pero es inmutable﴿
#tupla de 2 elementos de una lista ﴾posición, contenido﴿

for i,m in enumerate(lista):
    if m == 9:
        break

else:
## Usamos'for' conjuntamente con'else'
    #ponenmos negativa la posicion
    
    i = -1
    print('No se encontró el número 9')

if i >= 0:
    print(i)

No se encontró el número 9

### Hacer un programa que lea la lista de obras de Mario Vargas Llosa e indique el orden de los libros

In [39]:
#Lista de Libros de Mario Vargas Llosa

obras_mvll=["La ciudad y los perros","La casa verde","Pantaleón y las visitadoras"]

#Lista Orden de los libros

orden=["primer","segundo","tercer"]

#Utlizamos 'enumerate'

for i, libro in enumerate(obras_mvll):
    print("\nEl " + orden[i] +" libro de Mario Vargas Llosa es: " + libro)

El primer libro de Mario Vargas Llosa es: La ciudad y los perros

El segundo libro de Mario Vargas Llosa es: La casa verde

El tercer libro de Mario Vargas Llosa es: Pantaleón y las visitadoras

### Hacer un programa que lea la lista de los planetas del sistema solar e indique el orden de los mismos.

In [40]:
#Lista de planetas del sistema solar

planetas_ss = ["Mercurio", "Venus", "Tierra", "Marte", "Jupiter", "Saturno", "Urano", "Neptuno"]

#Lista Orden de los planetas

orden = ["primer", "segundo", "tercer", "cuarto", "quinto", "sexto", "septimo", "octavo"]

#Utlizamos 'enumerate'

for i, planeta in enumerate(planetas_ss):
    print("\nEl " + orden[i] +" planeta del sistema solar es: " + planeta)

El primer planeta del sistema solar es: Mercurio

El segundo planeta del sistema solar es: Venus

El tercer planeta del sistema solar es: Tierra

El cuarto planeta del sistema solar es: Marte

El quinto planeta del sistema solar es: Jupiter

El sexto planeta del sistema solar es: Saturno

El septimo planeta del sistema solar es: Urano

El octavo planeta del sistema solar es: Neptuno

### Hacer un programa que realice invitaciones de una lista de nombres

In [41]:
for f in ["Joel", "Nati", "Jehu", "Angeles", "Maryori", "Lucila", "Mirella", "Cesar"]:
    invitation = "Hola " + f + ".¡Por favor, ven a mi fiesta el sábado!"
    print(invitation)

Hola Joel.¡Por favor, ven a mi fiesta el sábado!
Hola Nati.¡Por favor, ven a mi fiesta el sábado!
Hola Jehu.¡Por favor, ven a mi fiesta el sábado!
Hola Angeles.¡Por favor, ven a mi fiesta el sábado!
Hola Maryori.¡Por favor, ven a mi fiesta el sábado!
Hola Lucila.¡Por favor, ven a mi fiesta el sábado!
Hola Mirella.¡Por favor, ven a mi fiesta el sábado!
Hola Cesar.¡Por favor, ven a mi fiesta el sábado!

In [43]:
for f in ["Oscar", "Ivanovich", "Norellys", "Nicotlh"]:
    invitation = "Hola " + f + ".¡Por favor, ven a mi fiesta el sábado!"
    print(invitation)

Hola Oscar.¡Por favor, ven a mi fiesta el sábado!
Hola Ivanovich.¡Por favor, ven a mi fiesta el sábado!
Hola Norellys.¡Por favor, ven a mi fiesta el sábado!
Hola Nicotlh.¡Por favor, ven a mi fiesta el sábado!

### Hacer un programa que no realice invitaciones de una lista de nombres

In [44]:
for f in ["Juan", "Adrian", "Elias", "Ximena", "Susana"]:
    sin_invitation = "Hola " + f + ". Tú no tienes invitación, para la próxima será"
    print(sin_invitation)

Hola Juan. Tú no tienes invitación, para la próxima será
Hola Adrian. Tú no tienes invitación, para la próxima será
Hola Elias. Tú no tienes invitación, para la próxima será
Hola Ximena. Tú no tienes invitación, para la próxima será
Hola Susana. Tú no tienes invitación, para la próxima será

### Hacer un programa que sume los elementos de una lista, utilizar funciones y for

In [45]:
#solicita usar foy y funciones, NO SE PUEDE USAR funcion 'sum'

def mysum(xs):
    """ Suma todos los números de la lista xs, y devuelve el total. """
    running_total = 0
    for x in xs:
        running_total = running_total + x
    return running_total
# Add tests like these to your test suite

print(mysum([1, 2, 3, 4]))                  # ==>> 10
print(mysum([1.25, 2.5, 1.75]))             # ==>> 5.5
print(mysum([1, -2, 3]))                    # ==>> 2
print(mysum([1, 2, 3, 4]))                  # ==>> 10
print(mysum(range(11)))                     # ==>> 55
print(mysum([]))

10
5.5
2
10
55
0

### Hacer un programa que sume los elementos de una lista, usamos función sum

In [46]:
m = [1, 2, 3, 4]
sum(m)

10

In [47]:
m = [23742, 25514, 37342, 96785]
sum(m)

183383

### Hacer un programa que imprima los multiplos hasta el numero 10 de cualquier numero

In [48]:
# Creamos la función multiplos

def multiplos(n):
    for i in range(1, 11):
        print(n * i, end="   ")
    print()
    
# Llamamos a la función con el numero de multiplo deseado

m = int(input("Ingrese un numero: "))
print("\nLos multiplos de ", m, "son: ")
multiplos(m)

Ingrese un numero: 12

Los multiplos de  12 son:
12   24   36   48   60   72   84   96   108   120

In [49]:
# Creamos la función multiplos

def multiplos(n):
    for i in range(1, 11):
        print(n * i, end="   ")
    print()
    
# Llamamos a la función con el numero de multiplo deseado

m = int(input("Ingrese un numero: "))
print("\nLos multiplos de ", m, "son: ")
multiplos(m)

Ingrese un numero: 42

Los multiplos de  42 son:
42   84   126   168   210   252   294   336   378   420

### Ejemplo de for anidado : Creación de tablas

In [50]:
for i in range(0,4):
    for j in range(0,4):
        for k in range(0,2):
            print(i,j,k)

0 0 0
0 0 1
0 1 0
0 1 1
0 2 0
0 2 1
0 3 0
0 3 1
1 0 0
1 0 1
1 1 0
1 1 1
1 2 0
1 2 1
1 3 0
1 3 1
2 0 0
2 0 1
2 1 0
2 1 1
2 2 0
2 2 1
2 3 0
2 3 1
3 0 0
3 0 1
3 1 0
3 1 1
3 2 0
3 2 1
3 3 0
3 3 1

### Hacer un programa que permita hallar la raiz enésima de un numero que se ingresara por teclado :

In [51]:
numero = float(input("Ingrese un número: "))
for n in range(2, 101):
    print("la raiz {0} ésima de {1} es {2}".format(n, numero, numero**(1/n)))

Ingrese un número: 14
la raiz 2 ésima de 14.0 es 3.7416573867739413
la raiz 3 ésima de 14.0 es 2.4101422641752297
la raiz 4 ésima de 14.0 es 1.9343364202676694
la raiz 5 ésima de 14.0 es 1.6952182030724354
la raiz 6 ésima de 14.0 es 1.5524632891554087
la raiz 7 ésima de 14.0 es 1.4579162495762834
la raiz 8 ésima de 14.0 es 1.390804235062458
la raiz 9 ésima de 14.0 es 1.3407492401952805
la raiz 10 ésima de 14.0 es 1.3020054543174677
la raiz 11 ésima de 14.0 es 1.271140212359713
la raiz 12 ésima de 14.0 es 1.2459788477961449
la raiz 13 ésima de 14.0 es 1.22507787079274
la raiz 14 ésima de 14.0 es 1.2074420274184112
la raiz 15 ésima de 14.0 es 1.1923631226024587
la raiz 16 ésima de 14.0 es 1.1793236345729947
la raiz 17 ésima de 14.0 es 1.1679366751416516
la raiz 18 ésima de 14.0 es 1.157907267528484
la raiz 19 ésima de 14.0 es 1.1490066128859129
la raiz 20 ésima de 14.0 es 1.1410545360838227
la raiz 21 ésima de 14.0 es 1.1339072327773512
la raiz 22 ésima de 14.0 es 1.1274485408920947
la raiz 23 ésima de 14.0 es 1.1215836087529283
la raiz 24 ésima de 14.0 es 1.1162342262250091
la raiz 25 ésima de 14.0 es 1.1113353309835983
la raiz 26 ésima de 14.0 es 1.1068323589382179
la raiz 27 ésima de 14.0 es 1.1026792101959935
la raiz 28 ésima de 14.0 es 1.0988366700371859
la raiz 29 ésima de 14.0 es 1.0952711704795943
la raiz 30 ésima de 14.0 es 1.0919538097385157
la raiz 31 ésima de 14.0 es 1.0888595690558363
la raiz 32 ésima de 14.0 es 1.085966682073163
la raiz 33 ésima de 14.0 es 1.0832561231885471
la raiz 34 ésima de 14.0 es 1.0807111895144104
la raiz 35 ésima de 14.0 es 1.0783171570574193
la raiz 36 ésima de 14.0 es 1.0760609961932845
la raiz 37 ésima de 14.0 es 1.0739311348434493
la raiz 38 ésima de 14.0 es 1.0719172602798748
la raiz 39 ésima de 14.0 es 1.0700101524039596
la raiz 40 ésima de 14.0 es 1.0682015428203717
la raiz 41 ésima de 14.0 es 1.0664839951679956
la raiz 42 ésima de 14.0 es 1.0648508030599175
la raiz 43 ésima de 14.0 es 1.0632959026825906
la raiz 44 ésima de 14.0 es 1.0618137976557351
la raiz 45 ésima de 14.0 es 1.0603994941926729
la raiz 46 ésima de 14.0 es 1.059048444950904
la raiz 47 ésima de 14.0 es 1.057756500244072
la raiz 48 ésima de 14.0 es 1.0565198655136632
la raiz 49 ésima de 14.0 es 1.055335064143241
la raiz 50 ésima de 14.0 es 1.0541989048484153
la raiz 51 ésima de 14.0 es 1.0531084529989838
la raiz 52 ésima de 14.0 es 1.0520610053310682
la raiz 53 ésima de 14.0 es 1.0510540675908437
la raiz 54 ésima de 14.0 es 1.0500853347209422
la raiz 55 ésima de 14.0 es 1.0491526732584757
la raiz 56 ésima de 14.0 es 1.0482541056619745
la raiz 57 ésima de 14.0 es 1.0473877963250924
la raiz 58 ésima de 14.0 es 1.046552039069054
la raiz 59 ésima de 14.0 es 1.045745245934622
la raiz 60 ésima de 14.0 es 1.0449659371187732
la raiz 61 ésima de 14.0 es 1.0442127319219796
la raiz 62 ésima de 14.0 es 1.0434843405896594
la raiz 63 ésima de 14.0 es 1.0427795569464362
la raiz 64 ésima de 14.0 es 1.0420972517347713
la raiz 65 ésima de 14.0 es 1.0414363665806237
la raiz 66 ésima de 14.0 es 1.0407959085183547
la raiz 67 ésima de 14.0 es 1.0401749450153321
la raiz 68 ésima de 14.0 es 1.039572599443834
la raiz 69 ésima de 14.0 es 1.0389880469540311
la raiz 70 ésima de 14.0 es 1.0384205107072082
la raiz 71 ésima de 14.0 es 1.0378692584330727
la raiz 72 ésima de 14.0 es 1.0373335992790769
la raiz 73 ésima de 14.0 es 1.036812880923267
la raiz 74 ésima de 14.0 es 1.0363064869252963
la raiz 75 ésima de 14.0 es 1.0358138342929972
la raiz 76 ésima de 14.0 es 1.0353343712443217
la raiz 77 ésima de 14.0 es 1.034867575146593
la raiz 78 ésima de 14.0 es 1.0344129506168993
la raiz 79 ésima de 14.0 es 1.0339700277691124
la raiz 80 ésima de 14.0 es 1.0335383605945025
la raiz 81 ésima de 14.0 es 1.0331175254642162
la raiz 82 ésima de 14.0 es 1.0327071197430546
la raiz 83 ésima de 14.0 es 1.0323067605050187
la raiz 84 ésima de 14.0 es 1.0319160833420116
la raiz 85 ésima de 14.0 es 1.0315347412579103
la raiz 86 ésima de 14.0 es 1.0311624036409544
la raiz 87 ésima de 14.0 es 1.0307987553080562
la raiz 88 ésima de 14.0 es 1.0304434956152304
la raiz 89 ésima de 14.0 es 1.0300963376288645
la raiz 90 ésima de 14.0 es 1.0297570073530322
la raiz 91 ésima de 14.0 es 1.0294252430084774
la raiz 92 ésima de 14.0 es 1.0291007943592816
la raiz 93 ésima de 14.0 es 1.0287834220835774
la raiz 94 ésima de 14.0 es 1.0284728971849828
la raiz 95 ésima de 14.0 es 1.0281690004417117
la raiz 96 ésima de 14.0 es 1.027871521890583
la raiz 97 ésima de 14.0 es 1.0275802603433715
la raiz 98 ésima de 14.0 es 1.0272950229331597
la raiz 99 ésima de 14.0 es 1.027015624688546
la raiz 100 ésima de 14.0 es 1.0267418881337291

In [54]:
#Creo la lista de validacion

num = ['1','2','3','4','5','6','7','8','9','0']
sim = ['?','!','$','%','&','/','ª','º']

#funcion
def validar(nomap):
    for x in nomap:
        if x in num:
            print('Nombre no valido!!!')
        elif x in sim:
            print('Nombre no valido!!!')
        else:
            print('Nombre Correcto')
            
#ingresar nombre

nom = input('Ingrese su nombre: ')

#llamar a la funcion

validar(nom)

#ingresar nombre

apell = input('Ingrese su apellido: ')

#llamar a la funcion

validar(apell)

Ingrese su nombre: ISmael
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Ingrese su apellido: Rodriguez
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto

In [56]:
#Creo la lista de validacion
num = ['1','2','3','4','5','6','7','8','9','0']
sim = ['?','!','$','%','&','/','ª','º']

#funcion
def validar(nomap):
    for x in nomap:
        if x in num:
            print('Nombre no valido!!!')
        elif x in sim:
            print('Nombre no valido!!!')
        else:
            print('Nombre Correcto')
            
#ingresar nombre
nom = input('Ingrese su nombre: ')

#llamar a la funcion
validar(nom)

#ingresar nombre
apell = input('Ingrese su apellido: ')

#llamar a la funcion
validar(apell)

Ingrese su nombre: Cristian
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Ingrese su apellido: Maron
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto
Nombre Correcto

# FIN